.button {
   padding: 15px;
   border-radius: 5px;
   border: none;
   outline: none;
   cursor: pointer;
   justify-content: center;
   align-items: center;
   &:hover {
      background-color: darkblue; 
      cursor: pointer; 
   }
}

.primary {
      background-color: blue;
      color: #fff;
}

.button-google {
   background-color: whitesmoke;
   color: #000;
   &:hover {
               background-color: #dfdfdf; 
               cursor: pointer; 
            }
}